body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}
.navbar a {
    color: grey;
    text-decoration: none;
    padding: 8px 16px;
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
.search-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 250px;
}
.search-box icon {
    position: absolute;
    left: 10px;
    color: #666;
    top:50%;
    transform: translateY(-50%);
}
.search-container {
    position: relative;
}
.icon {
    position: relative;
}
.banner{
    font-family: TiemposHeadlineWeb, Georgia, serif, ColorEmoji, AppleColorEmoji, "Segoe UI Emoji", "Segoe UI Symbol";
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #382110;
    color: white;
    padding: 40px;
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
}
.banner h1{
    font-size: 48px;
    margin-bottom: 20px;
    color:white;
    font-family: TiemposHeadlineWeb, Georgia, serif, ColorEmoji, AppleColorEmoji, "Segoe UI Emoji", "Segoe UI Symbol";
    
}
.btnDiv{
    display:flex;
    justify-content:center;
    margin-top:20px;
}